body, .navbar, .main-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}
body {
    background-color: #f0f0f0;
    color: #000;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 8px;
    background: #000e80;
    border-bottom: 2px solid #000;
    box-shadow: 2px 2px 0px #000;
}
.navbar .brand {
    font-weight: bold;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
}
.navbar ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.navbar ul li {
    margin-right: 15px;
}
.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
    transition: color 0.3s;
}
.navbar ul li a:hover {
    color: #ffcc00;
}
.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.clock-container {
    background: #f0f0f0;
    padding: 20px;
    border: 2px solid #000;
    box-shadow: 4px 4px 0px #000;
}
.time {
    font-size: 2.5em;
    margin-bottom: 20px;
}
.buttons button {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 1.2em;
    padding: 10px;
    margin: 5px;
    background: #fff;
    border: 2px solid #000;
    cursor: pointer;
    transition: background 0.3s;
}
.buttons button:hover {
    background: #d3d3d3;
}
.flyout {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #f0f0f0;
    padding: 20px;
    box-shadow: 4px 4px 0px #000;
    z-index: 10;
    border: 2px solid #000;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    resize: both;
    overflow: auto;
}
.flyout-header {
    font-weight: bold;
    margin-bottom: 15px;
    font-size: 1.5em;
    text-align: center;
    width: 100%;
    cursor: move;
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
}
.flyout-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
}
.editable-time {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 2.5em;
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    max-width: 200px;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: text;
    border-bottom: 2px solid #000;
}
.flyout-content button {
    font-size: 1.1em;
    padding: 8px 20px;
    margin: 5px;
    background: #fff;
    border: 2px solid #000;
    cursor: pointer;
    transition: background 0.3s;
    font-family: 'Libre Franklin', sans-serif;
}
.flyout-content button:hover {
    background: #d3d3d3;
}