body, .navbar, .gallery-container, .upload-form {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Libre Franklin', sans-serif;
}
body {
    background: #c0c0c0;
    color: #000;
}
.navbar {
    display: flex;
    align-items: center;
    padding: 8px;
    background: #000e80;
    border-bottom: 2px solid #000;
    position: sticky;
    top: 0;
    z-index: 100;
}
.navbar .brand {
    font-weight: bold;
    font-size: 1.5em;
    text-transform: none;
    margin-right: 20px;
    color: #fff;
    text-decoration: none;
}
.navbar ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
.navbar ul li {
    margin-right: 20px;
}
.navbar ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}
.navbar ul li a:hover {
    color: #ff0;
}
.gallery-container {
    padding: 20px;
    max-width: 1000px;
    margin: auto;
}
.upload-form {
    background: #ffffff;
    padding: 20px;
    border: 2px solid #000e80;
    margin-bottom: 25px;
    box-shadow: 4px 4px 0px #222;
    width: calc(100% - 24px);
}
.upload-form h3 {
    margin-top: 0;
    text-transform: none;
    font-size: 1.2em;
    color: #000e80;
}
.upload-form input[type="text"], .upload-form textarea {
    width: calc(100% - 24px);
    padding: 8px;
    margin: 10px 0;
    border: 2px solid #000e80;
    font-size: 1em;
    font-family: 'Libre Franklin', sans-serif;
}
.upload-form textarea {
    resize: none;
}
.upload-form input[type="file"] {
    padding: 8px;
    border: 2px solid #000e80;
    background: #fff;
    cursor: pointer;
    margin-top: 10px;
    width: calc(100% - 24px);
    font-family: 'Libre Franklin', sans-serif;
}
.upload-button {
    padding: 12px;
    border: none;
    background: #000e80;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    font-size: 1em;
    text-transform: none;
    transition: background 0.3s;
    width: calc(100% - 5px);
    margin-top: 20px;
    font-family: 'Libre Franklin', sans-serif;
}
.upload-button:hover {
    background: #ffb400;
}
.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}
.gallery-item {
    background: #fff;
    border: 2px solid #000e80;
    padding: 10px;
    box-shadow: 3px 3px 0px #222;
}
.gallery-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}
.gallery-item .info {
    font-size: 0.9em;
    color: #444;
}